* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
}

span {
    user-select: none;
}

a.link {
    text-decoration: none;
    color: #1b4ac0;
}

a.link:hover {
    text-decoration: underline;
    color: #1945b4;
}

.nav-bar-a-tag.blue {
    color: #10289d;
}

.btn {
    border: none;
    background-color: #ff7f50;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 250px;
    margin: 20px;
    transition: background-color 150ms ease-in-out;
}

.btn:hover {
    background-color: #ff8f66;
}

.btn:active {
    box-shadow: 0px 0px 20px 10px rgba(32, 13, 114, 0.25);
    background-color: #e73a1c;
}

.bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.nav-bar {
    width: 100%;
    height: fit-content;
    margin: auto 75px;
    background-color: white;
    position: fixed;
    z-index: 6;
    transition: background-color 500ms ease-in-out;
}

.nav-bar-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-bar-logo {
    max-height: 50px;
    display: inline;
    padding: 5px 0px;
    padding-left: 50px;
}

/* Dropdown menu */
.menu-icon {
    width: fit-content;
    height: fit-content;
    margin: auto 0;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-top: 20.5px;
    left: calc(100% - 90px);
    z-index: 10;
    display: none;
    transform: translateX(30px);
}

.menu-span {
    position: absolute;
    display: block;
    height: 3px;
    width: 38px;
    border-radius: 4px;
    background-color: #141414;
    transform: rotate(0);
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

span.one {
    top: 0px;
}

span.two {
    top: 10px;
}

span.three {
    top: 20px;
}

.clicked .one{
    transform: translateY(10px) rotate(45deg);
}

.clicked .two{
    opacity: 0;
}

.clicked .three {
    transform: translateY(-10px) rotate(-45deg);
}

#dropdown {
    position: absolute;
    z-index: 7;
    height: 100vh;
    width: 300px;
    margin-left: calc(100%);
    background-color: white;
    transform: translateY(-64px) translateX(0);
    transition: transform 200ms ease-in-out;
}

#dropdown.show {
    transform: translateY(-64px) translateX(-300px);
}

#dropdown-content-container {
    padding-top: 64px;
}

#dropdown-content-container > span {
    display: block;
    padding-bottom: 15px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

#overlay.dark {
    background-color: rgba(0, 0, 0, .5);
    transform: translateX(-300px);
}

.nav-bar-links-container {
    display: inline;
    float: right;
    line-height: 60px;
    padding-right: 50px;
}

.nav-bar-links-container > span:hover {
    cursor: pointer;
}

.nav-bar-a-tag {
    all: unset;
    font-size: 20px;
    font-weight: 600;
    margin: 0 30px;
}

.nav-bar-a-tag:hover {
    color: #10289d;
}

/* Home intro section */
.intro-container {
    display: flex;
    flex-direction: row;
}

.intro-half.img {
    flex: 1;
    min-height: 500px;
    background-size: cover;
}

#home-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

.intro-half.text {
    flex: 1;
    background-color:#1b4ac0;
    background: linear-gradient(to right, #10289d, #1e69da);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.home-intro-h1 {
    color: azure;
}

.intro-p {
    color: azure;
    width: calc(100% - 90px);
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.3rem;
}

/* Introduction home page */
#introduction-div {
    padding: 60px 0;
    background-color: white;
}

#intro-h2-home {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#intro-h4-home {
    width: calc(100% - 100px);
    max-width: 800px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

#intro-boxes {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.intro-box {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.intro-box-square {
    flex: 1;
    width: 50%;
}

.intro-box-square-inner-text-container {
    width: 400px;
    margin: 0 auto;
    height: 269px;
    border-radius: 25px;
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, .08);
    background-color: rgba(255, 255, 255, .9);
    transition: width 200ms ease-in-out, height 200ms ease-in-out, position 200ms;
}

.intro-box-square-inner-text-container:hover {
    position: absolute;
    width: 650px;
    height: 400px;
    z-index: 100;
    opacity: 1;
}

.intro-box-square-inner-text-container:hover > .intro-box-square-h5 {
    font-size: 38px;
}

.intro-box-square-inner-text-container:hover > .intro-box-square-p {
    font-size: 24px;
}

.intro-box-square-inner-text-container:hover > a.link {
    font-size: 24px;
}

.intro-box-square-h5 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    transition: font-size 200ms;
}

.intro-box-square-p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 7px;
    transition: font-size 200ms;
}

.intro-box-square-inner-text-container > a {
    padding-left: 20px;
    padding-bottom: 20px;
    transition: font-size 200ms;
}

.intro-box-square-inner-img-container {
    width: fit-content;
    margin: 0 auto;
}

.intro-box-square-img {
    width: 400px;
    height: 265px; 
    border-radius: 25px;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, .35);
}

#home-division-img-container {
    width: 100%;
    height: 800px;
    background-image: url(images/nature_picture_4.jpg);
    background-size: cover;
    background-position: center;
}

/* Contact form - Home page */
#contact-form-outer-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

#contact-form-container {
    height: fit-content;
    width: calc(100% - 150px);
    max-width: 700px;
    margin-top: 75px;
    margin-bottom: 100px;
    padding: 30px 0;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 20px 10px rgba(32, 13, 114, 0.15);
    display: inline-block;
}

#contact-form-h3 {
    font-size: 30px;
    margin: 25px 45px;
}

.contact-form-input {
    border: none;
    height: 2rem;
    max-width: 440;
    width: calc(100% - 90px);
    margin: 0 45px 30px 45px;
    padding-left: 5px;
    text-indent: 5px;
}

.contact-form-input:focus {
    outline: none;
    border-bottom: solid #10289d 3px;
}

.contact-form-input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

#contact-form-textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

#contact-form-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-form-btn {
    width: calc(100% - 200px);
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact-form-btn:active {
    box-shadow: 0px 0px 15px 10px rgba(32, 13, 114, 0.15);
}

/* Footer */
.footer {
    min-height: 550px;
    background-color: #2c2c2c;
    background: radial-gradient(circle, #3b3b3b, #141414);
}

.footer > * {
    color: #f5f5f5;
}

.footer-content-container {
    min-width: fit-content;
    width: 40%;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-content > h3 {
    font-size: 24px;
    color: #f5f5f5;
    margin-bottom: 25px;
}

.footer-content-location {
    padding-bottom: 12px;
}

.footer-content-location > p {
    margin-bottom: 5px;
}

.footer-content-contact {
    padding-bottom: 50px;
}

.footer-content-contact > p {
    margin-bottom: 5px;
}

.footer-division-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .35);
    margin-top: 50px;
}

.bottom-btn-container {
    min-height: fit-content;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#footer-arrow-a {
    display: block;
}

#footer-arrow {
    width: 25px;
}

.bottom-btn-container > p {
    padding-top: 10px;
}



/* Contact us-page */
/* Intro section */
#contact-us-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

.intro-half.text > h1 {
    color: azure;
}

/* Contact grid */

#contact-us-grid-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#contact-us-grid {
    display: grid;
    grid-template-columns: 800px 400px;
    column-gap: 100px;
    width: fit-content;
}

.contact-us-grid-half {
    min-height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px 0;
    box-shadow: 5px 5px 20px 10px rgba(32, 13, 114, 0.15);
}

#grid-contact-info-container {
    margin: 20px 40px;
}

#grid-contact-info-container > h2 {
    padding-bottom: 15px;
}

#grid-contact-info-container > p {
    padding-bottom: 40px;
    line-height: 1.5rem;
}

p#contact-us-long-text {
    padding-bottom: 15px;
}

#contact-us-info-inner-grid {
    display: grid;
    grid-template-columns: 350px 250px;
    column-gap: 20px;
}

.contact-us-info-inner-grid-half > h3 {
    padding-bottom: 10px;
}

.contact-us-info-inner-grid-half > p {
    padding-bottom: 4px;
}

.contact-us-form-input {
    border: none;
    height: 2rem;
    max-width: 400;
    width: calc(100% - 90px);
    margin: 0 45px 30px 45px;
    padding-left: 5px;
    text-indent: 5px;
}

.contact-us-form-input:focus {
    outline: none;
    border-bottom: solid #10289d 3px;
}

.contact-us-form-input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

#contact-us-form-textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

#contact-us-form-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-us-form-btn-container > button {
    width: calc(100% - 150px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

/* Coworkers */
#contact-us-coworkers-outer-container > h3 {
    font-size: 45px;
    margin: 0 auto;
    width: fit-content;
    padding-top: 75px;
    padding-bottom: 60px;
}

#contact-us-coworkers-container {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 100px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 100px;
}

.contact-us-coworker-box {
    height: 300px;
}

.personal-img-container {
    height: 170px;
    width: 170px;
    margin: 0 auto;
}

.personal-img-container > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal-info-container {
    width: 100%;
    padding-top: 10px;
}

.personal-info-container > p, .personal-info-container > h5 {
    width: fit-content;
    margin: 0 auto;
}

.personal-info-container > h5 {
    font-size: 18px;
}

.personal-info-title {
    padding-bottom: 6px;
}

.personal-info-container > p.light {
    font-size: 15px;
    color: rgb(170, 169, 169);
}



/* About us-page */
/* Intro section */
#about-us-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

/* Timeline */
#timeline-container {
    display: grid;
    place-items: center;
}

#timeline-container > h1 {
    padding-top: 75px;
    padding-bottom: 100px;
    margin: 0 auto;
    font-size: 44px;
}

#timeline-grid-container {
    display: grid;
    grid-template-columns: 450px 50px 450px;
    row-gap: 10px;
    column-gap: 70px;
    margin: 0 auto;
}

.timeline-grid-box {
    height: 400px;
}

.timeline-grid-box.text > h3 {
    padding-bottom: 10px;
}

.grid-box-img-container img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, .35);
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.about-us-img-overlay-container {
    display: none;
}

#grid-box-img-outlier-left-container {
    display: none;
}

#timeline-grid-column-middle {
    width: 50px;
}

.timeline-line {
    width: 3px;
    background-color: black;
    left: 50%;
    margin-left: 23.5px;
}

.timeline-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    top: 200px;
    left: 50%;
    margin-left: -11.5px;
    transform: translateY(100px);
}

#timeline-arrow-img-container {
    width: 35px;
    position: absolute;
    transform: translateX(-16px) translateY(350px);
}

/* Our mission */
#our-mission-container > h2 {
    font-size: 55px;
    width: fit-content;
    padding-top: 75px;
    padding-bottom: 40px;
    margin: 0 auto;
}

#our-mission-long-text {
    max-width: 800px;
    padding-bottom: 100px;
    margin: 0 auto;
}

#our-mission-long-text > p {
    line-height: 1.3rem;
    margin-bottom: 25px;
}
 


/* Responsive CSS for screens of different sizes */
/* For medium and small laptops (width < 1200px) and (width < 910px)*/
@media all and (max-width: 1200px) {
    #timeline-grid-container {
        grid-template-columns: 350px 50px 350px;
        row-gap: 20px;
        column-gap: 30px;
        margin: 0 auto;
    }

    .grid-box-img-container img {
        width: 100%;
        height: 233px;
    }
}

@media all and (max-width: 910px) {
    #timeline-grid-container {
        grid-template-columns: 300px 50px 300px;
        row-gap: 20px;
        column-gap: 20px;
    }
}


/* For tablets (width < 768px) */
@media all and (max-width: 768px) {
    /* Change the navbar a-tags to an icon and a dropdown-menu */
    .nav-bar-links-container {
        display: none;
    }

    .menu-icon {
        display: inline;
    }
    
    /* Make the text part at the top take up the whole width (no image) */
    #home-intro-img {
        display: none;
    }

    #contact-us-intro-img {
        display: none;
    }

    #about-us-intro-img {
        display: none;
    }

    /* Restructure the section with the boxes (images and text) to be above one another */
    .intro-box {
        flex-direction: column;
        height: 600px;
        width: fit-content;
    }

        /* Change the order of the image and the textbox in the middle-row */
    #intro-box-center-img-container {
        order: 2;
    }

    #intro-box-center-text-container {
        order: 1;
    }

    #home-division-img-container {
        height: 400px;
    }

    .nav-bar-logo {
        padding-left: 20px;
    }

    /* Contact us-page: Change the grids */
    #contact-us-grid {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 50px;
        width: calc(100% - 100px);
        margin: 0 auto;
    }

    .contact-us-grid-half {
        width: 100%;
    }

    #contact-us-info-inner-grid {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    #contact-us-coworkers-container {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 50px;
        width: fit-content;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    /* About us-page: Change the grid of the timeline */
    #timeline-grid-container {
        display: grid;
        width: fit-content;
        grid-template-columns: 500px 50px;
        row-gap: 10px;
        column-gap: 10px;
        margin: 0 auto;
    }

    .timeline-grid-box.text {
        display: none;
    }

    .grid-box-img-container {
        position: relative;
        width: 450px;
        height: 300px;
        pointer-events: all;
        transition: opacity 200ms ease-in-out;
    }

    .grid-box-img-container img {
        height: 100%;
    }

    .grid-box-img-container.clicked > .about-us-img-overlay-container {
        transform: translateY(-245px);
        border-radius: 20px 20px 0px 0px;
        transition-delay: 0ms;
    }

    .grid-box-img-container.clicked > img {
        opacity: 1;
        pointer-events: none;
    }

    #grid-box-img-outlier-container {
        display: none;
    }

    #grid-box-img-outlier-left-container {
        display: block;
    }

    .about-us-img-overlay-container {
        position: absolute;
        display: block;
        width: 100%;
        height: 60px;
        border-radius: 0px 0px 20px 20px;
        bottom: 0;
        background-color: white;
        color: black;
        z-index: 5;
        pointer-events: none;
        transition: border-radius 200ms ease-in-out, transform 200ms ease-in-out;
    }

    .about-us-img-overlay-container > h3 {
        margin-top: 16px;
        margin-left: 20px;
    }

    .about-us-img-overlay-container > p {
        display: none;
        opacity: 0;
        color: rgba(0, 0, 0, 0);
        transition-delay: 200ms;
        transition: all 2000ms ease-in-out;
    }

    .about-us-img-overlay-container > p.show {
        display: block;
        padding: 30px 20px;
        font-weight: 500;
        opacity: 1;
        color: rgba(0, 0, 0, 1);
        transition-delay: 0ms;
        transition: all 2000ms ease-in-out;
    }

    .white-transparent-overlay {
        position: absolute;
        height: 0px;
        width: 100%;
        border-radius: 0 0 20px 20px;
        bottom: 0;
        transform: translateY(-4px);
        background-color: rgba(255, 255, 255, .5);
        z-index: 4;
        pointer-events: none;
        transition: all 460ms ease-in-out;
    }

    .grid-box-img-container.clicked .white-transparent-overlay {
        height: 245px;
        transform: translateY(-4px);
    }
}

/*For smaller tablets (width < 640px)*/
@media all and (max-width: 640px) {
    #timeline-container > h1 {
        padding-top: 45px;
        padding-bottom: 50px;
    }

    #timeline-grid-container {
        grid-template-columns: 400px 50px;
        column-gap: 30px;
        margin-right: 20px;
    }

    .timeline-grid-box {
        height: 350px;
    }

    .grid-box-img-container {
        width: 400px;
        height: 267px;
    }

    #timeline-arrow-img-container {
        transform: translateX(-16px) translateY(300px);
    }
}

@media all and (max-width: 540px) {
    #timeline-grid-container {
        grid-template-columns: 300px 50px;
    }

    .timeline-grid-box {
        height: 260px;
    }

    .grid-box-img-container {
        width: 300px;
        height: 200px;
    }

    #timeline-arrow-img-container {
        transform: translateX(-16px) translateY(210px);
    }
}

/* For large phone (width < 430px)*/
@media all and (max-width: 430px) {
    .intro-half.text {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #timeline-grid-container {
        grid-template-columns: 250px 50px;
        column-gap: 20px;
    }

    .timeline-grid-box {
        height: 210px;
    }

    .grid-box-img-container {
        width: 250px;
        height: 167px;
    }

    .grid-box-img-container img {
        border-radius: 15px;
    }

    .about-us-img-overlay-container {
        border-radius: 0 0 15px 15px;
    }

    .about-us-img-overlay-container {
        height: 50px;
    }

    .white-transparent-overlay {
        border-radius: 0 0 15px 15px;
    }

    .grid-box-img-container.clicked > .about-us-img-overlay-container {
        border-radius: 15px 15px 0px 0px;
    }

    .timeline-dot {
        transform: translateY(50px);
    }

    #timeline-arrow-img-container {
        transform: translateX(-16px) translateY(160px);
    }
}

/*For medium phones (width < 375px)*/
@media all and (max-width: 375px) {
    #timeline-grid-container {
        grid-template-columns: 230px 50px;
        margin-right: 10px;
    }

    .timeline-grid-box {
        height: 200px;
    }

    .grid-box-img-container {
        width: 230px;
        height: 153px;
    }

    .about-us-img-overlay-container {
        height: 40px;
    }

    .about-us-img-overlay-container > h3 {
        font-size: 18px;
        margin-top: 8px;
    }

    .timeline-dot {
        transform: translateY(40px);
    }

    #timeline-arrow-img-container {
        transform: translateX(-16px) translateY(150px);
    }
}

/*For small phones (320px < width < 340px)*/
@media all and (max-width: 340px) {
    #timeline-grid-container {
        grid-template-columns: 210px 50px;
        column-gap: 15px;
        margin-right: 5px;
    }

    .timeline-grid-box {
        height: 190px;
    }

    .grid-box-img-container {
        width: 210px;
        height: 133px;
    }

    #timeline-arrow-img-container {
        transform: translateX(-16px) translateY(140px);
    }
}