* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
}

a.link {
    text-decoration: none;
    color: #1b4ac0;
}

a.link:hover {
    text-decoration: underline;
    color: #1945b4;
}

.nav-bar-a-tag.blue {
    color: #10289d;
}

.btn {
    border: none;
    background-color: #ff7f50;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 250px;
    margin: 20px;
    transition: background-color 150ms ease-in-out;
}

.btn:hover {
    background-color: #ff8f66;
}

.btn:active {
    box-shadow: 0px 0px 20px 10px rgba(32, 13, 114, 0.25);
    background-color: #e73a1c;
}

.bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.nav-bar {
    width: 100%;
    height: fit-content;
    margin: auto 75px;
    background-color: white;
    position: fixed;
    transition: background-color 500ms ease-in-out;
}

.nav-bar-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-bar-logo {
    max-height: 50px;
    display: inline;
    margin-right: 150px;
    padding: 5px 0px;
    padding-left: 50px;
}

.nav-bar-links-container {
    display: inline;
    float: right;
    line-height: 60px;
    padding-right: 50px;
}

.nav-bar-links-container > span:hover {
    cursor: pointer;
}

.nav-bar-a-tag {
    all: unset;
    font-size: 20px;
    font-weight: 600;
    margin: 0 30px;
}

.nav-bar-a-tag:hover {
    color: #10289d;
}

/* Home intro section */
.intro-container {
    display: flex;
    flex-direction: row;
}

.intro-half.img {
    flex: 1;
    min-height: 500px;
    background-size: cover;
}

#home-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

.intro-half.text {
    flex: 1;
    background-color:#1b4ac0;
    background: linear-gradient(to right, #10289d, #1e69da);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.home-intro-h1 {
    color: azure;
}

.intro-p {
    color: azure;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.3rem;
}

/* Introduction home page */
#introduction-div {
    padding: 60px 0;
}

#intro-h2-home {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#intro-h4-home {
    max-width: 800px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

#intro-boxes {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.intro-box {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.intro-box-square {
    flex: 1;
    width: 50%;
}

.intro-box-square-inner-text-container {
    width: 400px;
    margin: 0 auto;
    height: 269px;
    border-radius: 25px;
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, .08);
    background-color: rgba(255, 255, 255, .9);
    transition: width 200ms ease-in-out, height 200ms ease-in-out, position 200ms;
}

.intro-box-square-inner-text-container:hover {
    position: absolute;
    width: 650px;
    height: 400px;
    z-index: 100;
    opacity: 1;
}

.intro-box-square-inner-text-container:hover > .intro-box-square-h5 {
    font-size: 38px;
}

.intro-box-square-inner-text-container:hover > .intro-box-square-p {
    font-size: 24px;
}

.intro-box-square-inner-text-container:hover > a.link {
    font-size: 24px;
}

.intro-box-square-h5 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    transition: font-size 200ms;
}

.intro-box-square-p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 7px;
    transition: font-size 200ms;
}

.intro-box-square-inner-text-container > a {
    padding-left: 20px;
    padding-bottom: 20px;
    transition: font-size 200ms;
}

.intro-box-square-inner-img-container {
    width: fit-content;
    margin: 0 auto;
}

.intro-box-square-img {
    width: 400px;
    height: 265px; 
    border-radius: 25px;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, .35);
}

#home-division-img-container {
    width: 100%;
    height: 800px;
    background-image: url(images/nature_picture_4.jpg);
    background-size: cover;
    background-position: center;
}

/* Contact form - Home page */
#contact-form-outer-container {
    display: flex;
    justify-content: center;
}

#contact-form-container {
    height: fit-content;
    max-width: 700px;
    margin-top: 75px;
    margin-bottom: 100px;
    padding: 30px 0;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 20px 10px rgba(32, 13, 114, 0.15);
    display: inline-block;
}

#contact-form-h3 {
    font-size: 30px;
    margin: 25px 45px;
}

.contact-form-input {
    border: none;
    height: 2rem;
    max-width: 440;
    width: calc(100% - 90px);
    margin: 0 45px 30px 45px;
    padding-left: 5px;
    text-indent: 5px;
}

.contact-form-input:focus {
    outline: none;
    border-bottom: solid #10289d 3px;
}

.contact-form-input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

#contact-form-textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

#contact-form-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-form-btn {
    width: calc(100% - 200px);
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact-form-btn:active {
    box-shadow: 0px 0px 15px 10px rgba(32, 13, 114, 0.15);
}

/* Footer */
.footer {
    min-height: 550px;
    background-color: #2c2c2c;
    background: radial-gradient(circle, #3b3b3b, #141414);
}

.footer > * {
    color: #f5f5f5;
}

.footer-content-container {
    min-width: fit-content;
    width: 40%;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-content > h3 {
    font-size: 24px;
    color: #f5f5f5;
    margin-bottom: 25px;
}

.footer-content-location {
    padding-bottom: 12px;
}

.footer-content-location > p {
    margin-bottom: 5px;
}

.footer-content-contact {
    padding-bottom: 50px;
}

.footer-content-contact > p {
    margin-bottom: 5px;
}

.footer-division-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .35);
    margin-top: 50px;
}

.bottom-btn-container {
    min-height: fit-content;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#footer-arrow-a {
    display: block;
}

#footer-arrow {
    width: 25px;
}

.bottom-btn-container > p {
    padding-top: 10px;
}



/* Contact us-page */
/* Intro section */
#contact-us-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

.intro-half.text > h1 {
    color: azure;
}

/* Contact grid */

#contact-us-grid-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#contact-us-grid {
    display: grid;
    grid-template-columns: 800px 400px;
    column-gap: 100px;
    width: fit-content;
}

.contact-us-grid-half {
    min-height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px 0;
    box-shadow: 5px 5px 20px 10px rgba(32, 13, 114, 0.15);
}

#grid-contact-info-container {
    margin: 20px 40px;
}

#grid-contact-info-container > h2 {
    padding-bottom: 15px;
}

#grid-contact-info-container > p {
    padding-bottom: 40px;
    line-height: 1.5rem;
}

p#contact-us-long-text {
    padding-bottom: 15px;
}

#contact-us-info-inner-grid {
    display: grid;
    grid-template-columns: 350px 250px;
    column-gap: 20px;
}

.contact-us-info-inner-grid-half > h3 {
    padding-bottom: 10px;
}

.contact-us-info-inner-grid-half > p {
    padding-bottom: 4px;
}

.contact-us-form-input {
    border: none;
    height: 2rem;
    max-width: 400;
    width: calc(100% - 90px);
    margin: 0 45px 30px 45px;
    padding-left: 5px;
    text-indent: 5px;
}

.contact-us-form-input:focus {
    outline: none;
    border-bottom: solid #10289d 3px;
}

.contact-us-form-input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

#contact-us-form-textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

#contact-us-form-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-us-form-btn-container > button {
    width: calc(100% - 150px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

/* Coworkers */
#contact-us-coworkers-outer-container > h3 {
    font-size: 45px;
    margin: 0 auto;
    width: fit-content;
    padding-top: 75px;
    padding-bottom: 60px;
}

#contact-us-coworkers-container {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 100px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 100px;
}

.contact-us-coworker-box {
    height: 300px;
}

.personal-img-container {
    height: 170px;
    width: 170px;
    margin: 0 auto;
}

.personal-img-container > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal-info-container {
    width: 100%;
    padding-top: 10px;
}

.personal-info-container > p, .personal-info-container > h5 {
    width: fit-content;
    margin: 0 auto;
}

.personal-info-container > h5 {
    font-size: 18px;
}

.personal-info-title {
    padding-bottom: 6px;
}

.personal-info-container > p.light {
    font-size: 15px;
    color: rgb(170, 169, 169);
}



/* About us-page */
/* Intro section */
#about-us-intro-img {
    background-image: url(images/bigstock-snowy-mountain-tops-in-alaska-11882624.jpg);
}

/* Timeline */
#timeline-container {
    display: grid;
    place-items: center;
}

#timeline-container > h1 {
    padding-top: 75px;
    padding-bottom: 100px;
    margin: 0 auto;
    font-size: 44px;
}

#timeline-grid-container {
    display: grid;
    grid-template-columns: 500px 50px 500px;
    row-gap: 10px;
    column-gap: 70px;
    margin: 0 auto;
}

.timeline-grid-box {
    height: 400px;
}

.timeline-grid-box.text > h3 {
    padding-bottom: 10px;
}

.grid-box-img-container img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, .35);
}

#timeline-grid-column-middle {
    width: 50px;
}

.timeline-line {
    width: 3px;
    background-color: black;
    left: 50%;
    margin-left: 23.5px;
}

.timeline-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    top: 200px;
    left: 50%;
    margin-left: -12.5px;
    transform: translateY(100px);
}

#timeline-arrow-img-container {
    width: 35px;
    transform: translateY(-25px);
}

/* Our mission */
#our-mission-container > h2 {
    font-size: 55px;
    width: fit-content;
    padding-top: 75px;
    padding-bottom: 40px;
    margin: 0 auto;
}

#our-mission-long-text {
    max-width: 800px;
    padding-bottom: 100px;
    margin: 0 auto;
}

#our-mission-long-text > p {
    line-height: 1.3rem;
    margin-bottom: 25px;
}